@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #0F172A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-border-gray: #CBD5E1;
  --color-blue-gray: #94A3B8;
  --color-accent-blue: #110058;
  --color-secondary-text: #64748B;
  --color-dark-blue: #0B0C2A;
  --color-dark-border-blue: #2B2E48;
  --color-alert-red: #F43F5E;
}


body {
  background: var(--background);
  color: var(--foreground);
}
